/* cards.css */


  
  .Card {
    max-width: 345px;
    flex: 0 0 calc(25% - 16px); /* Initialt 4 produkter per rad, med 16px mellanrum */
    margin: 0 0 16px; /* Justera avståndet mellan korten om det behövs */
  }
  
  @media (max-width: 1200px) {
    .Card {
      flex-basis: calc(33.33% - 16px); /* Tre produkter per rad när skärmen är mindre än 1200px */
    }
  }
  
  @media (max-width: 900px) {
    .Card {
      flex-basis: calc(50% - 16px); /* Två produkter per rad när skärmen är mindre än 900px */
    }
  }
  
  @media (max-width: 600px) {
    .Card {
      flex-basis: calc(100% - 16px); /* Ett produkt per rad när skärmen är mindre än 600px */
    }
  }
  